#root {
  overflow-x: none;
}

/* App */
body {
  background-color: #212121;
  color: #FFFFFF;
  
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

/* About */
.about {
  background: linear-gradient(to bottom, #0000FF, #808080);
  /* height: 40%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  background: url(./assets/happyCoder.jpg);
  border-radius: 720px;
  border: 4px solid #FFF;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.about--text {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.resume {
  background: url(./assets/resume.png);
}

.web {
  background: url(./assets/web.png);
}

.github {
  background: url(./assets/github.png);
}


.link {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 40%;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -60px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Share */
.share {
  background: linear-gradient(to bottom, #808080, #000000);
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.share--heading {
  text-align: center;
}

.share--text {
  margin: 0.4rem;
  text-align: center;
}

.share--text > span {
  color: red;
}

.share::-webkit-scrollbar {
  display: none; 
}

.contact {
  display: flex;
}



/* Skills */
.skills--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #808080);
}

.contact {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  margin-right: 2rem;
}

.contact > h4 {
  margin: .5rem;
}